/.HA_VERSION
/home-assistant_v2.db
/secrets.yaml
/known_devices.yaml
/.google_maps_location_sharing.cookies.x9266023332_gmail_com
/test.py
/venv/
/ssl.back/
/ssl/
/custom_components/
/.storage/
/.idea
/zones.yaml